* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-color: #ffffff;
}


.nav1 {
    text-align: center;
    border-bottom: 1px solid grey;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.nav1 li {
    list-style: none;
    display: inline-block;
    padding: 10px 15px;
}

.nav1 li a:hover {
    background-color: grey;
    border-radius: 10px;
    transition: 300ms;

}

.nav1 a {
    margin: 0 20px;
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: bold;
    padding: 5px;
}

.brand {
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding-top: 3rem;
    gap: 10px;
}

.blog-span {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    font-size: medium;
    font-weight: bold;
    color: rgb(0, 0, 0);
}

.spanh1 {
    font-family: 'Poppins', sans-serif;
    font-size: xx-large;
}

.span1 {
    font-family: 'Poppins', sans-serif;
    font-size: x-large;
}

.blogcontent {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 15px;
    border: 1px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
}

.blogtitle {
    display: flex;
    justify-content: center;
    padding-bottom: 5%;
    color: rgb(0, 0, 0);
}

.Images {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    color: rgb(0, 0, 0);

}

.Images img{
    width: 700px;

}

.koshary {
    display: flex;
    font-family: 'Poppins', sans-serif;
    justify-content: center;
    padding: 5rem;
    font-size: medium;
    color: rgb(0, 0, 0);
}

.Koshary1 {
    padding: 0.9rem;
}

.ingredient1 {
    padding: 0.9rem;
    font-family: 'Poppins', sans-serif;

}

.ingredients {
    display: flex;
    font-family: 'Poppins', sans-serif;
    justify-content: center;
    padding: 5rem;
    margin-top: 5rem;
    font-size: 30%;
    color: rgb(0, 0, 0);
}

.section {
    background-color: #ffffff;
    padding: 2rem ;
    box-sizing: border-box;
}

.section-h3 {
    background-color: #a895eb;
    color: #fff;
    padding: 1.1em;
    margin-top: 0;
}

.section-h3 li{
    list-style: none;
    display: inline-block;
    padding: 10px 15px;
    margin: 0 20px;

}

.section li{
    list-style: none;
    display: inline-block;
    padding: 10px 15px;
}

.footer {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.footer span {
    font-size: 16px;
    font-weight: bold;
    margin-right: 6px;
}

.footer a {
    padding: 4px 8px;
    border-radius: 50%;
    border: 1px solid grey;
    margin-right: 6px;
}

.copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
    color: rgb(0, 0, 0);
    font-size: larger;
}